<div class="flex flex-col items-center justify-center  h-screen sm:w-max sm:h-max border-gray-200 border-2 rounded-xl shadow-lg bg-white">

    <div class="grid grid-cols-3 w-max h-min gap-2 md:gap-2 md:grid-cols-6 sm:py-7 md:py-16 px-10 container xl:py-20">

        <h1
        class="relative col-span-5 aspect-auto md:row-span-5 overflow-hidden text-lg  xl:w-full xl:text-2xl font-bold"
        >
            Recuperar contraseña
        </h1>

        <form 
        [formGroup]="recoverForm"
        (ngSubmit)="onSubmit()"
        class="grid grid-cols-6 relative col-span-6 aspect-auto row-span-6 overflow-hidden gap-y-2"
        >

        <input formControlName="email"  type="text" name="Email"  class="col-span-6 rounded-md  border-2 px-7 p-2 border-gray-200" placeholder="Digita tu correo electronico">
        <p *ngIf="recoverForm.get('email')?.errors && recoverForm.get('email')?.touched" class="text-red-500 text-xs col-span-6">
            {{!recoverForm.get('email')?.value ? 'email requerido' : 'email invalido'}}
         </p> 

        <button *ngIf="!recoverForm.invalid" [disabled]="recoverForm.invalid" class="col-span-6 bg-black text-white rounded-3xl p-3 my-2 mt-8">
            Recuperar
        </button>
        <button *ngIf="recoverForm.invalid"  [disabled]="recoverForm.invalid" class="col-span-6 bg-black cursor-not-allowed text-white rounded-3xl p-3 my-2 mt-8">
            Recuperar
        </button>

        </form>
    </div>

</div>
